<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.71251418013-l1fqvjedphqm96fsaf7aqv310sidu8c1</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>ChoreQuest uses the camera so kids can take a proof photo for completed chores.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ChoreQuest uses your photo library so kids can attach proof photos for completed chores.</string>
</dict>
</plist>
